@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
	background: #E3F2FD;
    font-family: 'Open Sans', sans-serif;
}
.header {
    background: #6C757D;
	color: #fff;
    display: flex;
    font-size: 1.75rem;
    justify-content: center;
	text-align: center;
    padding: 18px 0;
}
.city-input {
    border: 1px solid transparent;
    border-radius: 8px;
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
}
.search-btn {
    margin-right: 5px;
}
.location-btn {
    margin-right: 5px;
}
.search-btn,
.location-btn {
    border: 1px solid transparent;
    border-radius: 8px;
}
.alerts-btn {
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 10px;
}
.header img {
    width: 25px;
    height: 25px;
}
.left-column{
    width: 40%;
}
.top-block {
    list-style: none;
	color: #fff;
	padding: 18px 16px;
	border-radius: 5px;
	background: #6C757D;
}
.bottom-block {
    padding: 18px 16px;
    display: flex;
    color: #fff;
    border-radius: 5px;
	background: #6C757D;
    justify-content: space-between;
    margin-top: 10px;
}
.bottom-block .img {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: #6C757D;
    width: calc(50% - 5px);
}
.container {
	display: flex;
	gap: 35px;
	padding: 30px;
}
.weather-input {
	width: 550px;
}
.weather-input input {
	width: 100%;
	height: 46px;
	outline: none;
	padding: 0 15px;
	margin: 10px 0 20px 0;
	font-size: 1.07rem;
	border-radius: 4px;
	border: 1px solid #ccc;
}
.weather-input button {
	width: 100%;
	padding: 10px 0;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1rem;
	border-radius: 4px;
	background: #5372F0;
}
.weather-input .location-btn {
	background: #6C757D;
}
.weather-data {
	width: 60%;
}
.weather-data h4 {
	margin-top: 12px;
	font-size: 1rem;
	font-weight: 500;
}
.days-forecast h2 {
	font-size: 1.5rem;
	margin: 20px 0;
}
.weather-cards {
	display: flex;
	gap: 20px;
}
.weather-cards .card {
	list-style: none;
	color: #fff;
	padding: 18px 16px;
	border-radius: 5px;
	background: #6C757D;
	width: calc(100% / 7);
}
.weather-cards .card img {
	max-width: 70px;
	margin: 5px 0 -12px 0;
}
/* Toggle style provided by Andrew Wesley/Edited by Matthew Hendrix*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.switch input {
  display: none;
}

/* Updated .slider styles */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border: 2px solid whitesmoke;
  border-radius: 17px; /* Half of the height to make it circular */
}

.slider:before {
  position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 4px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  /*Blank on purpose*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Add styles for labels */
.label-c, .label-f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: cadetblue; /* Set text color */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold; /* Optionally set font weight */
  padding: 0 5px; /* Add padding to labels */
}

/* Position labels on each side */
.label-c {
  left: 5px; /* Adjust the left position as needed */
}

.label-f {
  right: 5px; /* Adjust the right position as needed */
}

/*Alerts Page Styling*/
.alerts-email-input {
    display: flex;
    flex-direction: row; /* Ensure items are in a row */
    align-items: center;
    justify-content: flex-start;
    padding: 5px; /* Adjust as needed */
}
.alerts-email-input h4 {
    margin-right: 10px; /* Adjust as needed */
}

.contact-input {
    width: 300px; /* Adjust as needed */
}
.alerts-area-code-input {
    display: flex;
    flex-direction: row; /* Ensure items are in a row */
    align-items: center;
    justify-content: flex-start;
    padding: 5px; /* Adjust as needed */
}
.alerts-area-code-input h4 {
    margin-right: 10px;
}
.area-code-input {
    width: 115px;
}
.alerts-header {
    background: #6C757D;
	color: #fff;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
	text-align: center;
    padding: 1px 0;
}
.alerts-sign-up {
    display: flex;
    flex-direction: row; /* Ensure items are in a row */
    align-items: center;
    justify-content: flex-start;
    padding: 5px; /* Adjust as needed */
}
.alerts-enter-btn{
    border: 1px solid #6C757D;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 10px;
    padding: 4px;
}
@media (max-width: 1400px) {
	.weather-data .current-weather {
		padding: 20px;
	}
	.weather-cards {
		flex-wrap: wrap;
	}
	.weather-cards .card {
		width: calc(100% / 4 - 15px);
	}
}
@media (max-width: 1200px) {
	.weather-cards .card {
		width: calc(100% / 3 - 15px);
	}
}
@media (max-width: 950px) {
	.weather-input {
		width 450px;
	}
	.weather-cards .card {
		width: calc(100% / 2 - 10px);
	}
}
@media (max-width: 750px) {
	.container {
		flex-wrap: wrap;
		padding: 15px;
	}
	.weather-input {
		width: 100%;
	}
}
